In [84]:
import pandas as pd

df = pd.read_csv("Swarms.csv")

In [85]:
df.head()

,X,Y,OBJECTID,STARTDATE,TmSTARTDAT,FINISHDATE,TmFINISHDA,EXACTDATE,PARTMONTH,LOCNAME,...,CTLQTYU,CTLARTREA,CTLARTREAU,CTLAPPHAND,CTLAPPVEHI,CTLAPPAIR,CTLAPPMECH,CTLAPPUNK,CTLESTKILL,CAT
0,-15.131944,17.870278,1,1985/11/30 00:00:00,12:00,1985/11/30 00:00:00,12:00,No,Late,,...,,0.0,,0,0,0,0,0,0,Swarm
1,-15.400278,18.030833,2,1985/11/26 00:00:00,12:00,1985/11/26 00:00:00,12:00,No,Late,,...,,0.0,,0,0,0,0,0,0,Swarm
2,-14.668889,17.988889,3,1985/11/27 00:00:00,12:00,1985/11/27 00:00:00,12:00,No,Late,,...,,0.0,,0,0,0,0,0,0,Swarm
3,-14.633333,17.835833,4,1985/11/30 00:00:00,12:00,1985/11/30 00:00:00,12:00,No,Late,,...,,0.0,,0,0,0,0,0,0,Swarm
4,-13.353889,18.026389,5,1985/10/15 00:00:00,12:00,1985/10/15 00:00:00,12:00,Yes,,,...,,0.0,,0,0,0,0,0,0,Swarm

In [86]:
df_now = df[['X','Y','STARTDATE','LOCPRESENT']]

In [87]:
df_now.head()

           X          Y            STARTDATE  LOCPRESENT
0 -15.131944  17.870278  1985/11/30 00:00:00           1
1 -15.400278  18.030833  1985/11/26 00:00:00           1
2 -14.668889  17.988889  1985/11/27 00:00:00           1
3 -14.633333  17.835833  1985/11/30 00:00:00           1
4 -13.353889  18.026389  1985/10/15 00:00:00           1

In [88]:
df['STARTDATE'] = pd.to_datetime(df['STARTDATE'])

In [89]:
df['STARTDATE']

0       1985-11-30 00:00:00
1       1985-11-26 00:00:00
2       1985-11-27 00:00:00
3       1985-11-30 00:00:00
4       1985-10-15 00:00:00
                ...
29379   2020-06-30 21:59:59
29380   2020-07-06 21:59:59
29381   2020-07-06 21:59:59
29382   2020-07-06 21:59:59
29383   2020-07-05 21:59:59
Name: STARTDATE, Length: 29384, dtype: datetime64[ns]

In [90]:
df['year'] = df['STARTDATE'].dt.year
df['month'] = df['STARTDATE'].dt.month
df['day'] = df['STARTDATE'].dt.day
df['day_of_year'] = df['STARTDATE'].dt.dayofyear
df['season'] = (df['STARTDATE'].dt.month % 12 + 3) // 3

In [91]:
df.head()

,X,Y,OBJECTID,STARTDATE,TmSTARTDAT,FINISHDATE,TmFINISHDA,EXACTDATE,PARTMONTH,LOCNAME,...,CTLAPPAIR,CTLAPPMECH,CTLAPPUNK,CTLESTKILL,CAT,year,month,day,day_of_year,season
0,-15.131944,17.870278,1,1985-11-30,12:00,1985/11/30 00:00:00,12:00,No,Late,,...,0,0,0,0,Swarm,1985,11,30,334,4
1,-15.400278,18.030833,2,1985-11-26,12:00,1985/11/26 00:00:00,12:00,No,Late,,...,0,0,0,0,Swarm,1985,11,26,330,4
2,-14.668889,17.988889,3,1985-11-27,12:00,1985/11/27 00:00:00,12:00,No,Late,,...,0,0,0,0,Swarm,1985,11,27,331,4
3,-14.633333,17.835833,4,1985-11-30,12:00,1985/11/30 00:00:00,12:00,No,Late,,...,0,0,0,0,Swarm,1985,11,30,334,4
4,-13.353889,18.026389,5,1985-10-15,12:00,1985/10/15 00:00:00,12:00,Yes,,,...,0,0,0,0,Swarm,1985,10,15,288,4

In [92]:
len(df)

29384

In [93]:
df = df[df['LOCPRESENT'] != 2]

In [94]:
len(df)

29280

In [95]:
df_train = df[df['year']<2015]
X_train = df_train[['year','month','day_of_year','season']]
X_train = X_train.values
Y_train = df_train[['X','Y']]
Y_train = Y_train.values

In [96]:
df_train.tail()

,X,Y,OBJECTID,STARTDATE,TmSTARTDAT,FINISHDATE,TmFINISHDA,EXACTDATE,PARTMONTH,LOCNAME,...,CTLAPPAIR,CTLAPPMECH,CTLAPPUNK,CTLESTKILL,CAT,year,month,day,day_of_year,season
22178,42.015833,9.699444,22179,2014-04-08,12:00,2014/04/08 00:00:00,12:00,No,Early,Dagaha,...,1,0,0,0,Swarm,2014,4,8,98,2
22179,43.009444,9.540556,22180,2014-04-08,12:00,2014/04/08 00:00:00,12:00,No,Early,Rujf,...,0,0,0,1,Swarm,2014,4,8,98,2
22180,35.907500,20.993333,22181,2014-02-24,13:10,2014/02/24 00:00:00,13:10,No,Late,,...,1,0,0,0,Swarm,2014,2,24,55,1
22181,37.873056,18.278611,22182,2014-01-02,14:26,2014/01/02 00:00:00,14:26,No,Early,,...,1,0,0,0,Swarm,2014,1,2,2,1
22182,-16.192222,19.243889,22183,2014-01-01,10:40,2014/01/01 00:00:00,10:40,No,Early,,...,0,0,0,0,Swarm,2014,1,1,1,1

In [98]:
df_test = df[df['year']==2020]
X_test = df_test[['year','month','day_of_year','season']]
X_test = X_test.values
Y_test = df_test[['X','Y']]
Y_test = Y_test.values

In [99]:
df_test.tail()

,X,Y,OBJECTID,STARTDATE,TmSTARTDAT,FINISHDATE,TmFINISHDA,EXACTDATE,PARTMONTH,LOCNAME,...,CTLAPPAIR,CTLAPPMECH,CTLAPPUNK,CTLESTKILL,CAT,year,month,day,day_of_year,season
29379,45.466389,9.576111,34317,2020-06-30 21:59:59,00:00,2020/06/30 21:59:59,00:00,No,Early,Togdheer bariga,...,0,0,1,0,Swarm,2020,6,30,182,3
29380,37.416667,3.123333,34318,2020-07-06 21:59:59,00:00,2020/07/06 21:59:59,00:00,No,Early,bas ada kalacha mars,...,0,0,1,0,Swarm,2020,7,6,188,3
29381,37.416111,3.123889,34319,2020-07-06 21:59:59,00:00,2020/07/06 21:59:59,00:00,No,Early,bas ada kalacha mars,...,0,0,1,0,Swarm,2020,7,6,188,3
29382,37.066389,3.320278,34320,2020-07-06 21:59:59,00:00,2020/07/06 21:59:59,00:00,No,Early,BuraMarsabit County,...,0,0,1,0,Swarm,2020,7,6,188,3
29383,67.620556,26.696667,34321,2020-07-05 21:59:59,00:00,2020/07/05 21:59:59,00:00,No,Early,Sindh,...,0,0,1,85,Swarm,2020,7,5,187,3

In [100]:
len(X_test)

4767

In [74]:
# X_train = X.values

In [75]:
X_train[0]

array([1985,   11,  334,    4])

In [76]:
# X.head()

In [77]:
# Y = df[['X','Y']]

In [78]:
# Y.head()

In [79]:
# Y_train = Y.values
# Y_train[0]

In [80]:
# from sklearn.model_selection import train_test_split

# X_train, X_test, Y_train, Y_test = train_test_split(X_train, Y_train, test_size=0.2, random_state=42)

In [101]:
len(X_train)

22080

In [102]:
len(X_test)

4767

In [141]:
from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error

xgb_model = XGBRegressor(objective='reg:squarederror', max_depth=7, learning_rate=0.1, n_estimators=1000)

# Fit the model on the training set
xgb_model.fit(X_train, Y_train,eval_set=[(X_test, Y_test)],eval_metric='rmse',verbose =True, early_stopping_rounds=10)

[0]	validation_0-rmse:35.12073
[1]	validation_0-rmse:32.81805
[2]	validation_0-rmse:30.77784

[3]	validation_0-rmse:28.97724
[4]	validation_0-rmse:27.21113
[5]	validation_0-rmse:25.65637
[6]	validation_0-rmse:24.28832
[7]	validation_0-rmse:23.13678
[8]	validation_0-rmse:22.14044
[9]	validation_0-rmse:21.20992
[10]	validation_0-rmse:20.44583
[11]	validation_0-rmse:19.73094
[12]	validation_0-rmse:19.18375
[13]	validation_0-rmse:18.63821
[14]	validation_0-rmse:18.16813
[15]	validation_0-rmse:17.79127
[16]	validation_0-rmse:17.47727
[17]	validation_0-rmse:17.20500
[18]	validation_0-rmse:16.94429
[19]	validation_0-rmse:16.75534
[20]	validation_0-rmse:16.56481
[21]	validation_0-rmse:16.40770
[22]	validation_0-rmse:16.25385
[23]	validation_0-rmse:16.13375
[24]	validation_0-rmse:16.02719
[25]	validation_0-rmse:15.93554
[26]	validation_0-rmse:15.83759
[27]	validation_0-rmse:15.76773
[28]	validation_0-rmse:15.71140
[29]	validation_0-rmse:15.65591
[30]	validation_0-rmse:15.60803
[31]	validation_0-rmse:15.57041
[32]	validation_0-rmse:15.51831
[33]	validation_0-rmse:15.49208
[34]	validation_0-rmse:15.47148
[35]	validation_0-rmse:15.42781
[36]	validation_0-rmse:15.38433
[37]	validation_0-rmse:15.37272
[38]	validation_0-rmse:15.34132
[39]	validation_0-rmse:15.34149
[40]	validation_0-rmse:15.33419
[41]	validation_0-rmse:15.32764
[42]	validation_0-rmse:15.32239
[43]	validation_0-rmse:15.30526
[44]	validation_0-rmse:15.30188
[45]	validation_0-rmse:15.29008
[46]	validation_0-rmse:15.29080
[47]	validation_0-rmse:15.29422
[48]	validation_0-rmse:15.29618
[49]	validation_0-rmse:15.29569
[50]	validation_0-rmse:15.28839
[51]	validation_0-rmse:15.28334
[52]	validation_0-rmse:15.28115
[53]	validation_0-rmse:15.27833
[54]	validation_0-rmse:15.28065
[55]	validation_0-rmse:15.28018
[56]	validation_0-rmse:15.28048
[57]	validation_0-rmse:15.28115
[58]	validation_0-rmse:15.28092
[59]	validation_0-rmse:15.28117
[60]	validation_0-rmse:15.28109
[61]	validation_0-rmse:15.28014
[62]	validation_0-rmse:15.27662
[63]	validation_0-rmse:15.27856
[64]	validation_0-rmse:15.27448
[65]	validation_0-rmse:15.27346
[66]	validation_0-rmse:15.27375
[67]	validation_0-rmse:15.27345
[68]	validation_0-rmse:15.27384
[69]	validation_0-rmse:15.27385
[70]	validation_0-rmse:15.27230
[71]	validation_0-rmse:15.27112
[72]	validation_0-rmse:15.27364
[73]	validation_0-rmse:15.27041
[74]	validation_0-rmse:15.26955
[75]	validation_0-rmse:15.26874
[76]	validation_0-rmse:15.26783
[77]	validation_0-rmse:15.26687
[78]	validation_0-rmse:15.26682
[79]	validation_0-rmse:15.26818
[80]	validation_0-rmse:15.27110
[81]	validation_0-rmse:15.27152
[82]	validation_0-rmse:15.27004
[83]	validation_0-rmse:15.26906
[84]	validation_0-rmse:15.26922
[85]	validation_0-rmse:15.26872
[86]	validation_0-rmse:15.26632
[87]	validation_0-rmse:15.26349
[88]	validation_0-rmse:15.26419
[89]	validation_0-rmse:15.26216
[90]	validation_0-rmse:15.25554
[91]	validation_0-rmse:15.25552
[92]	validation_0-rmse:15.25278
[93]	validation_0-rmse:15.25175
[94]	validation_0-rmse:15.25185
[95]	validation_0-rmse:15.25328
[96]	validation_0-rmse:15.25419
[97]	validation_0-rmse:15.25359
[98]	validation_0-rmse:15.25480
[99]	validation_0-rmse:15.25246
[100]	validation_0-rmse:15.24927
[101]	validation_0-rmse:15.24924
[102]	validation_0-rmse:15.24905
[103]	validation_0-rmse:15.24848
[104]	validation_0-rmse:15.24927
[105]	validation_0-rmse:15.24815
[106]	validation_0-rmse:15.24814
[107]	validation_0-rmse:15.24797
[108]	validation_0-rmse:15.24385
[109]	validation_0-rmse:15.24821
[110]	validation_0-rmse:15.24976
[111]	validation_0-rmse:15.24935
[112]	validation_0-rmse:15.24938
[113]	validation_0-rmse:15.24912
[114]	validation_0-rmse:15.24903
[115]	validation_0-rmse:15.24891
[116]	validation_0-rmse:15.24840
[117]	validation_0-rmse:15.24950
[118]	validation_0-rmse:15.25017

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=0.1, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=7, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=1000, n_jobs=None, num_parallel_tree=None,
             predictor=None, random_state=None, ...)

In [139]:
y_pred = xgb_model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(Y_test, y_pred)
print(f'Mean Squared Error: {mse}')

Mean Squared Error: 230.6735193627539

In [131]:
X_test[0]

array([2020,    1,   24,    1])

In [1]:
import joblib
xgb_model = joblib.load('best_model.joblib')

In [6]:
xgb_model.predict([[2021,1,120,1]])

array([[39.911236, 12.408764]], dtype=float32)

In [133]:
import joblib
joblib.dump(xgb_model,'best_model.joblib')

['best_model.joblib']

In [134]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

rf_model = RandomForestRegressor(random_state=42)
rf_model.fit(X_train, Y_train)

RandomForestRegressor(random_state=42)

In [135]:
y_pred = rf_model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(Y_test, y_pred)
print(f'Mean Squared Error on Test Set: {mse}')

Mean Squared Error on Test Set: 228.58809622596766

In [136]:
rf_model.predict([[2021,6,182,3]])

array([[42.0721619 , 15.03505714]])

In [137]:
import joblib
joblib.dump(rf_model,'secondary.joblib')

['secondary.joblib']